<app-componente-menu></app-componente-menu>
<title>Formulario de Preinscripción</title>
<div class="container">
  <h4 class="bold titulo_pagina" style="color: blue">
    Formulario de Preinscripción
  </h4>
  <hr class="separa-destacados" />
  <form class="form-control" id="formulario-preinscripcion">
    <ul class="nav nav-tabs" id="pestañas_formulario" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="tab-torre-pacheco"
          data-bs-toggle="tab"
          data-bs-target="#tab-pane-torre-pacheco"
          type="button"
          role="tab"
          aria-controls="tab-pane-torre-pacheco"
          aria-selected="true"
        >
          Torre Pacheco
        </button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="tab-pane-torre-pacheco"
        role="tabpanel"
        aria-labelledby="tab-torre-pacheco"
        tabindex="0"
      >
        <app-formulario-preinscripcion-torre-pacheco
          sucursal="1"
        ></app-formulario-preinscripcion-torre-pacheco>
      </div>
    </div>
  </form>
</div>
