<app-componente-menu></app-componente-menu>
<title>Formulario de Preinscripción</title>
<div class="container">
    <h4 class="bold titulo_pagina" style="color:blue"> Formulario de Preinscripción </h4>
    <hr class="separa-destacados">
    <form class="form-control" id="formulario-preinscripcion">
        <ul class="nav nav-tabs" id="pestañas_formulario" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="tab-torre-pacheco" data-bs-toggle="tab"
                    data-bs-target="#tab-pane-torre-pacheco" type="button" role="tab"
                    aria-controls="tab-pane-torre-pacheco" aria-selected="true">Torre Pacheco</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab-roldan" data-bs-toggle="tab" data-bs-target="#tab-pane-roldan"
                    type="button" role="tab" aria-controls="tab-pane-roldan" aria-selected="false">Roldán</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab-balsicas" data-bs-toggle="tab" data-bs-target="#tab-pane-balsicas"
                    type="button" role="tab" aria-controls="tab-pane-balsicas" aria-selected="false">Balsicas</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab-dolores-pacheco" data-bs-toggle="tab"
                    data-bs-target="#tab-pane-dolores-pacheco" type="button" role="tab"
                    aria-controls="tab-pane-dolores-pacheco" aria-selected="false">Dolores de Pacheco</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab-jimenado" data-bs-toggle="tab"
                    data-bs-target="#tab-pane-jimenado" type="button" role="tab"
                    aria-controls="tab-pane-jimenado" aria-selected="false">El Jimenado</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab-pane-torre-pacheco" role="tabpanel"
                aria-labelledby="tab-torre-pacheco" tabindex="0">

                <app-formulario-preinscripcion-torre-pacheco sucursal="1"></app-formulario-preinscripcion-torre-pacheco>
            </div>
            <div class="tab-pane fade" id="tab-pane-roldan" role="tabpanel" aria-labelledby="tab-roldan" tabindex="0">
               <app-formulario-preinscripcion-pedania sucursal="2"></app-formulario-preinscripcion-pedania>
            </div>
            <div class="tab-pane fade" id="tab-pane-balsicas" role="tabpanel" aria-labelledby="tab-balsicas" tabindex="0">
                <app-formulario-preinscripcion-pedania sucursal="3"></app-formulario-preinscripcion-pedania>
            </div>
            <div class="tab-pane fade" id="tab-pane-dolores-pacheco" role="tabpanel" aria-labelledby="tab-dolores-pacheco" tabindex="0">
                <app-formulario-preinscripcion-pedania sucursal="4"></app-formulario-preinscripcion-pedania>
            </div>
            <div class="tab-pane fade" id="tab-pane-jimenado" role="tabpanel" aria-labelledby="tab-dolores-jimenado" tabindex="0">
                <app-formulario-preinscripcion-pedania sucursal="5"></app-formulario-preinscripcion-pedania>
            </div>
        </div>





    </form>
</div>
