<app-menu class=""></app-menu>

<div class="container">
  <legend>Lista de fichas de asistencias</legend>
  @if (bCargadas_fichas_asistencias) {
    <div>
      <app-appdatatable
        [$cabeceras]="cabecera_asistencias"
        [$lista]="$lista_ficha_asistencias()"
        [$identificador]="$id_tabla_asistencias()"
        (rowSelected)="click_ficha($event)"
      ></app-appdatatable>
      @if (ficha_seleccionada != "") {
        <div>
          <a [href]="obtener_url_ficha()">
            <button class="btn btn-primary">Ver Ficha</button></a
          >
          <button
            class="btn btn-danger ms-3"
            (click)="cancelar_ficha_asistencia()"
          >
            Eliminar Ficha
          </button>
        </div>
      }
    </div>
  }
</div>

