<app-menu class=""></app-menu>

<div class="container">
  <legend>Lista de fichas de inventario</legend>
  @if (bCargados_inventarios) {
    <div>
      <app-appdatatable
        [$cabeceras]="cabecera_inventarios"
        [$lista]="$lista_inventarios()"
        [$identificador]="$id_tabla_inventarios()"
        (rowSelected)="click_ficha($event)"
      ></app-appdatatable>
      @if (ficha_seleccionada != "") {
        <div>
          <a [href]="obtener_url_ficha()">
            <button class="btn btn-primary">Ver Ficha</button></a
          >
          <button class="btn btn-danger ms-3" (click)="eliminar_ficha()">
            Eliminar Ficha
          </button>
        </div>
      }
    </div>
  }
</div>

