<app-menu class=""></app-menu>
<div class="container pt-4">
   <app-persona class="" id={{id_persona}} #instancia_persona></app-persona>
   <app-padres-persona nid_persona={{id_persona}} #instancia_padre></app-padres-persona>
   <app-madres-persona nid_persona={{id_persona}} #instancia_madre></app-madres-persona>
   <app-socio nid_persona={{id_persona}} #instancia_socio></app-socio>

   <button  class="btn btn-primary mb-3 tp-3" (click)="guardar()"> Guardar </button>

   <div *ngIf="bError" class="alert alert-danger" role="alert">
      {{mensaje_error}}
   </div>
   <div *ngIf="bError_padre" class="alert alert-danger" role="alert">
      {{mensaje_error_padre}}
   </div>
   <div *ngIf="bError_madre" class="alert alert-danger" role="alert">
      {{mensaje_error_madre}}
   </div>
   <div *ngIf="bError_socio" class="alert alert-danger" role="alert">
      {{mensaje_error_socio}}
   </div>
   <div *ngIf="bRegistrado && bRegistrado_madre && bRegistrado_padre && bActualizado_socio" class="alert alert-success" role="alert">
      {{mensaje_registro}}
   </div>
</div>