<app-menu class=""></app-menu>
<div class="container pt-4">
   <app-persona class="pt-1 pb-1" id={{id_persona}} #instancia_persona></app-persona>
   <app-direccion class="pt-1 pb-1" nid_persona={{id_persona}} #instancia_direccion></app-direccion> 
   <app-forma-pago class="pt-1 pb-1" id={{id_persona}} #instancia_forma_pago></app-forma-pago>
   <app-padres-persona class="pt-1 pb-1" nid_persona={{id_persona}} #instancia_padre></app-padres-persona>
   <app-madres-persona class="pt-1 pb-1" nid_persona={{id_persona}} #instancia_madre></app-madres-persona>
   <app-hijos-persona class="pt-1 pb-1" nid_persona={{id_persona}}></app-hijos-persona>
   <app-socio class="pt-1 pb-1" nid_persona={{id_persona}} #instancia_socio></app-socio>
   <app-matriculas-alumno class="pt-1 pb-1" nid_alumno={{id_persona}}></app-matriculas-alumno>
   <app-cursos-profesor class="pt-1 pb-1" nid_profesor={{id_persona}}></app-cursos-profesor>
   <button  class="btn btn-primary mb-3 mt-2 tp-3" (click)="guardar()"> Guardar </button>

</div>