<app-menu class=""></app-menu>
<div class="container pt-4">
   <app-persona class="" id={{id_persona}} #instancia_persona></app-persona>
   <app-forma-pago id={{id_persona}} #instancia_forma_pago></app-forma-pago>
   <app-padres-persona nid_persona={{id_persona}} #instancia_padre></app-padres-persona>
   <app-madres-persona nid_persona={{id_persona}} #instancia_madre></app-madres-persona>
   <app-socio nid_persona={{id_persona}} #instancia_socio></app-socio>
   <app-matriculas-alumno nid_alumno={{id_persona}}></app-matriculas-alumno>
   <app-cursos-profesor nid_profesor={{id_persona}}></app-cursos-profesor>
   <button  class="btn btn-primary mb-3 tp-3" (click)="guardar()"> Guardar </button>

</div>