<div class="container">
  <div [ngClass]="esAdministrador ? 'borde_gris borde_azul' : ''">
    <div class="row">
      @if (esAdministrador && !modo_edicion) {
        <div class="col">
          <button
          style="
            float: right;
            color: rgb(119, 23, 23);
            border-color: rgb(119, 23, 23);
            background-color: white;
            border-style: solid;
          "
            type="button"
            class="btn"
            (click)="eliminar()"
            >
            <fa-icon [icon]="faXmark"></fa-icon>
          </button>
          <button
          style="
            float: right;
            color: rgb(14, 49, 14);
            border-color: rgb(14, 49, 14);
            background-color: white;
            border-style: solid;
          "
            type="button"
            class="btn"
            (click)="activa_edicion()"
            >
            <fa-icon [icon]="faPen"></fa-icon>
          </button>
        </div>
      }

      @if (esAdministrador && modo_edicion) {
        <div class="col">
          <button
          style="
            float: right;
            color: rgb(119, 23, 23);
            border-color: rgb(119, 23, 23);
            background-color: white;
            border-style: solid;
          "
            type="button"
            class="btn"
            (click)="cancelar_edicion()"
            >
            <fa-icon [icon]="faXmark"></fa-icon>
          </button>
          <button
          style="
            float: right;
            color: rgb(14, 49, 14);
            border-color: rgb(14, 49, 14);
            background-color: white;
            border-style: solid;
          "
            type="button"
            class="btn"
            (click)="guardar()"
            >
            <fa-icon [icon]="faSave"></fa-icon>
          </button>
        </div>
      }
    </div>
    @if (tipo == '1') {
      <div class="row">
        <div class="col texto-overflow">
          @if (!modo_edicion) {
            <div>
              <div [innerHTML]="componente_texto.cTexto"></div>
            </div>
          }
          @if (modo_edicion) {
            <div>
              <app-editar-componente-texto
                #instancia_texto
                nid="{{ id_componente }}"
              ></app-editar-componente-texto>
            </div>
          }
        </div>
      </div>
    }
    @if (tipo == '2') {
      <div class="row">
        <div class="col">
          @if (!modo_edicion) {
            <div>
              <app-componente-imagen
                nid="{{ id_componente }}"
              ></app-componente-imagen>
            </div>
          }
          @if (modo_edicion) {
            <div>
              <app-editar-componente-imagen
                #instancia_imagen
                nid="{{ id_componente }}"
              ></app-editar-componente-imagen>
            </div>
          }
        </div>
      </div>
    }
    @if (tipo == '4') {
      <div class="row">
        <div class="col">
          @if (!modo_edicion) {
            <div>
              <app-componente-video
                id_componente="{{ id_componente }}"
              ></app-componente-video>
            </div>
          }
          @if (modo_edicion) {
            <div>
              <app-editar-componente-video
                id_componente="{{ id_componente }}"
              ></app-editar-componente-video>
            </div>
          }
        </div>
      </div>
    }
    @if (tipo == '9') {
      <div class="row">
        <div class="col">
          @if (!modo_edicion) {
            <div>
              <app-componente-card
                nid_componente_card="{{ id_componente }}"
              ></app-componente-card>
            </div>
          }
          @if (modo_edicion) {
            <div>
              <app-editar-componente-card
                #instancia_card
                nid_componente_card="{{ id_componente }}"
              ></app-editar-componente-card>
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>
