<div class="card p-3 m-1">
    <legend>Alumno</legend>
    <div class="row">
        <div class="col-md-12 col-lg-4">
            <label>Nombre*</label>
            <input class="form-control" [(ngModel)]="nombre_alumno" type="text" />
        </div>
        <div class="col-md-12 col-lg-4">
            <label>Primer apellido*</label>
            <input class="form-control" [(ngModel)]="primer_apellido_alumno" type="text" />
        </div>
        <div class="col-md-12 col-lg-4">
            <label>Segundo apellido*</label>
            <input class="form-control" [(ngModel)]="segundo_apellido_alumno" type="text" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 col-lg-2">
            <label>DNI</label>
            <input class="form-control" [(ngModel)]="dni_alumno" type="text" />
        </div>

        <div class="col-md-5 col-lg-2">
            <label>Fecha nacimiento*</label>
            <input class="form-control" (change)="actualiza_horario('')" [(ngModel)]="fecha_nacimiento" type="date" required />
        </div>

        
    </div>

<div class="row">
    <div class="col-lg-2 col-5">
        <label>Teléfono*</label>
        <input class="form-control" [(ngModel)]="telefono" type="text" required />
    </div>
    <div class="col-lg-8 col-12">
        <label>Correo electrónico*</label>
        <input class="form-control" [(ngModel)]="correo_electronico" type="text" required />
    </div>
</div>

    <div class="row">
        <legend>Tipo de Preinscripción</legend>

        <div class="form-check">
            <input class="form-check-input" type="radio" id="Nueva"
            value = "1"
            (change)="actualiza_horario('')" 
            [(ngModel)] = "tipo_inscripcion" />
            <label class="form-check-label" for="Nueva">
                Nueva Inscripción
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" id="Renovacion"
            value = "2"
            (change)="actualiza_horario('')" 
            [(ngModel)] = "tipo_inscripcion" />
            <label class="form-check-label" for="Renovacion">
                Renovación (Matriculados en años anteriores)
            </label>
        </div>
    </div>
</div>


<!-- Horario Matricula Nueva -->
<div class="card p-3 m-1" *ngIf="(tipo_inscripcion == '1' && comprueba_edad_primero()) ">
    <legend> Horario (Lenguaje Musical) </legend>
    <br>
    <u>La elección de un grupo no garantiza la asignación en el mismo, ya que está sujeta a la disponibilidad de cupos</u>
    <br>
    <b>Curso: Primero</b>
    <br>
    <div class="form-check">
        <input class="form-check-input" type="radio"
            value="(Primero) Lunes y Miércoles (18:00 - 19:00)"
            name="Horario"
            [(ngModel)]="horario_seleccionado"
            id="horario_primero_LX">
        <label class="form-check-label" for="horario_primero_LX">
            Lunes y Miércoles (18:00 - 19:00)
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio"
            [(ngModel)]="horario_seleccionado"
            value="(Primero) Martes y Jueves (19:00 - 20:00)" name="Horario"
            id="horario_primero_MJ">
        <label class="form-check-label" for="horario_primero_MJ">
            Martes y Jueves (19:00 - 20:00)
        </label>
    </div>
</div>

<div class="card p-3 m-1" *ngIf="tipo_inscripcion == '1' && calculo_edad() == 7">
    <legend> Horario (Lenguaje Musical) </legend>
    <br>
    <u>La elección de un grupo no garantiza la asignación en el mismo, ya que está sujeta a la disponibilidad de cupos</u>
    <br>
    <b>Curso: Preparatorio</b>
    <br>
    <div class="form-check">
        <input class="form-check-input" type="radio"
            [(ngModel)]="horario_seleccionado" name="Horario"
            value="(Preparatorio)  Miércoles (18:00 - 19:30)"
            id="horario_preparatorio_X">
        <label class="form-check-label" for="horario_preparatorio_X">
            Miércoles (18:00 - 19:30)
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio"
            [(ngModel)]="horario_seleccionado" name="Horario"
            value="(Preparatorio) Jueves (18:00 - 19:30)"
            id="horario_preparatorio_M">
        <label class="form-check-label" for="horario_preparatorio_M">
            Jueves (18:00 - 19:30)
        </label>
    </div>
</div>

<div class="card p-3 m-1" *ngIf="tipo_inscripcion == '1' && calculo_edad() < 7">
    <legend> Horario (Lenguaje Musical) </legend>
    <br>
    <u>La elección de un grupo no garantiza la asignación en el mismo, ya que está sujeta a la disponibilidad de cupos</u>
    <br>
    <div class="form-check">
        <input class="form-check-input" type="radio"
        [(ngModel)]="horario_seleccionado"
        value="(Iniciación) (17:30 - 19:00)" name="Horario" id="horario_iniciacion_MJ">
        <label class="form-check-label" for="horario_iniciacion_MJ">
            <b>Curso: Iniciación</b>
            <br>
            Viernes (17:30 - 19:00)
        </label>
    </div>
</div>

<div class="card p-3 m-1" *ngIf="tipo_inscripcion == '1' && calculo_edad() >= 18">
    <legend> Horario (Lenguaje Musical) </legend>
    <br>
    <u>La elección de un grupo no garantiza la asignación en el mismo, ya que está sujeta a la disponibilidad de cupos</u>
    <br>
    <div class="">
        <b>Curso: Adultos</b>
        <br>
        <div class="form-check">
           <p>Pendiente de asignar horario</p>
        </div>
    </div>
</div>




<!-- Horario Matricula Renovación -->
<div class="card p-3 m-1" *ngIf="tipo_inscripcion == '2'">
    <legend> Horario (Lenguaje Musical) </legend>
    <br>
    <u>La elección de un grupo no garantiza la asignación en el mismo, ya que está sujeta a la disponibilidad de cupos</u>
    <br>

    <select class="form-select" [(ngModel)]="curso_seleccionado" (change)="actualiza_horario('')" aria-label="select_curso">
        <option value="{{CURSO_INICIACION}}">Iniciación</option>
        <option value="{{CURSO_PREPARATORIO}}">Preparatorio</option>
        <option value="{{CURSO_PRIMERO}}">Primero</option>
        <option value="{{CURSO_SEGUNDO}}">Segundo</option>
        <option value="{{CURSO_TERCERO}}">Tercero</option>
        <option value="{{CURSO_CUARTO}}">Cuarto</option>
        <option value="{{CURSO_QUINTO}}">Quinto</option>
        <option value="{{CURSO_ADULTO}}">Adultos</option>
    </select>

    <div *ngIf="curso_seleccionado == CURSO_PRIMERO">
        <b>Curso: Primero</b>
        <br>
        <div class="form-check">
            <input class="form-check-input" type="radio"
                value="(Primero) Lunes y Miércoles (18:00 - 19:00)"
                name="Horario"
                [(ngModel)]="horario_seleccionado"
                id="horario_primero_LX">
            <label class="form-check-label" for="horario_primero_LX">
                Lunes y Miércoles (18:00 - 19:00)
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio"
                [(ngModel)]="horario_seleccionado"
                value="(Primero) Martes y Jueves (19:00 - 20:00)" name="Horario"
                id="horario_primero_MJ">
            <label class="form-check-label" for="horario_primero_MJ">
                Martes y Jueves (19:00 - 20:00)
            </label>
        </div>
    </div>

    <div *ngIf="curso_seleccionado == CURSO_SEGUNDO">
        <b>Curso: Segundo</b>
        <br>
        <div class="form-check">
            <input class="form-check-input" type="radio"
                value="(Segundo) Lunes y Miércoles (19:00 - 20:00)"
                name="Horario"
                [(ngModel)]="horario_seleccionado"
                id="horario_segundo_LX">
            <label class="form-check-label" for="horario_segundo_LX">
                Lunes y Miércoles (19:00 - 20:00)
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio"
                [(ngModel)]="horario_seleccionado"
                value="(Segundo) Martes y Jueves (18:00 - 19:00)" name="Horario"
                id="horario_segundo_MJ">
            <label class="form-check-label" for="horario_segundo_MJ">
                Martes y Jueves (18:00 - 19:00)
            </label>
        </div>
    </div>

    <div *ngIf="curso_seleccionado == CURSO_TERCERO">
        <b>Curso: Tercero</b>
        <br>
        <div class="form-check">
            <input class="form-check-input" type="radio"
                 [(ngModel)]="horario_seleccionado"
                value="(Tercero) Lunes y Miércoles (17:00 - 18:00)" name="Horario"
                id="horario_tercero_LX">
            <label class="form-check-label" for="horario_tercero_LX">
                Lunes y Miércoles (17:00 - 18:00)
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio"
                [(ngModel)]="horario_seleccionado"
                id="horario_tercero_MJ"
                value="(Tercero) Martes y Jueves (16:00 - 17:00)" name="Horario">
            <label class="form-check-label" for="horario_tercero_MJ">
                Martes y Jueves (16:00 - 17:00)
            </label>
        </div>
    </div>

    <div *ngIf="curso_seleccionado == CURSO_CUARTO">
        <b>Curso: Cuarto</b>
        <br>
        <div class="form-check">
            <input class="form-check-input" type="radio"
                 [(ngModel)]="horario_seleccionado"
                value="(Cuarto) Lunes y Miércoles (16:00 - 17:00)" name="Horario"
                id="horario_cuarto_LX">
            <label class="form-check-label" for="horario_cuarto_LX">
                Lunes y Miércoles (16:00 - 17:00)
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio"
                [(ngModel)]="horario_seleccionado"
                value="(Cuarto) Martes y Jueves (17:00 - 18:00)" name="Horario"
                id="horario_cuarto_MJ">
            <label class="form-check-label" for="horario_cuarto_MJ">
                Martes y Jueves (17:00 - 18:00)
            </label>
        </div>
    </div>

    <div *ngIf="curso_seleccionado == CURSO_QUINTO">
        <b>Curso: Quinto (Perfeccionamiento)</b>
        <br>
        <div class="form-check">
            <input class="form-check-input" type="radio"
                [(ngModel)]="horario_seleccionado"
                value="(Quinto) Lunes y Miércoles (20:00 - 21:00)" name="Horario"
                id="horario_quinto_LX">
            <label class="form-check-label" for="horario_quinto_LX">
                Martes y Jueves (20:00 - 21:00)
            </label>
        </div>
    </div>

    <div *ngIf="curso_seleccionado == CURSO_PREPARATORIO">
        <b>Curso: Preparatorio</b>
        <br>
        <div class="form-check">
            <input class="form-check-input" type="radio"
                [(ngModel)]="horario_seleccionado"
                value="(Preparatorio) Miercoles (18:00 - 19:30)" name="Horario"
                id="horario_preparatorio_X">
            <label class="form-check-label" for="horario_preparatorio_X">
                Miércoles (18:00 - 19:30)
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio"
                [(ngModel)]="horario_seleccionado"
                value="(Preparatorio) Jueves (18:00 - 19:30)" name="Horario"
                id="horario_preparatorio_M">
            <label class="form-check-label" for="horario_preparatorio_M">
                Jueves (18:00 - 19:30)
            </label>
        </div>
    </div>

    <div *ngIf="curso_seleccionado == CURSO_INICIACION">
        <b>Curso: Iniciación</b>
        <br>
        <div class="form-check">
            <input class="form-check-input" type="radio"
            [(ngModel)]="horario_seleccionado"
            value="(Iniciación) (17:30 - 19:00)" name="Horario" id="horario_iniciacion_MJ">
            <label class="form-check-label" for="horario_iniciacion_MJ">
                <b>Curso: Iniciación</b>
                <br>
                Viernes (17:30 - 19:00)
            </label>
        </div>
    </div>

    <div *ngIf="curso_seleccionado == CURSO_ADULTO">
        <b>Curso: Adultos</b>
        <br>
        <div class="form-check">
           <p>Pendiente de asignar horario</p>
        </div>
    </div>
</div>


<div class="card p-3 m-1" *ngIf="calculo_edad() < 18">
    <legend>Padre / Madre / Tutor</legend>
    <div class="row">
        <div class="col-lg-4 col-12">
            <label>Nombre*</label>
            <input class="form-control" [(ngModel)]="nombre_padre" type="text" />
        </div>
        <div class="col-lg-4 col-12">
            <label>Primer apellido*</label>
            <input class="form-control" [(ngModel)]="primer_apellido_padre" type="text" />
        </div>
        <div class="col-lg-4 col-12">
            <label>Segundo apellido*</label>
            <input class="form-control" [(ngModel)]="segundo_apellido_padre" type="text" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-5">
            <label>DNI*</label>
            <input class="form-control" [(ngModel)]="dni_padre" type="text" />
        </div>



    </div>
</div>

<div [ngClass]="{'oculto': !(calculo_edad() >= 7)}" class="card p-3 m-1">
    <legend>Instrumento / Especialidad</legend>
   
    <div class="row">
        <div class="col input-group mb-3">
            <input class="form-control" id="disabledInput" [(ngModel)]="instrumentos_seleccionados[0].instrumento" type="text" placeholder="Primera Opción" disabled />
            <div class="input-group-append">
                <button class="btn btn-outline-primary" (click)="add_instrumento(0)"> Seleccionar </button>
            </div>
        </div>   
    </div>

    <div class="row">
        <div class="col input-group mb-3">
            <input class="form-control" id="disabledInput" [(ngModel)]="instrumentos_seleccionados[1].instrumento" type="text"  placeholder="Segunda Opción" disabled />
            <div class="input-group-append">
                <button class="btn btn-outline-primary" (click)="add_instrumento(1)"> Seleccionar </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col input-group mb-3">
            <input class="form-control" id="disabledInput" [(ngModel)]="instrumentos_seleccionados[2].instrumento" type="text" placeholder="Tercera Opción" disabled />
            <div class="input-group-append">
                <button class="btn btn-outline-primary" (click)="add_instrumento(2)"> Seleccionar  </button>
            </div>
        </div>
    </div>



</div>

<div class="card p-3 m-1">
    <div class="row">
        <div class="col">
            <legend>Dirección Postal</legend>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-4">
            <label>Provincia</label>
            <input class="form-control" [(ngModel)]="provincia" type="text" />
        </div>

        <div class="col-lg-2 col-4">
            <label>Municipio</label>
            <input class="form-control" [(ngModel)]="municipio" type="text" />
        </div>

        <div class="col-lg-2 col-4">
            <label>Código Postal</label>
            <input class="form-control" [(ngModel)]="codigo_postal" type="text" />
        </div>

        <div class="col-lg-12 col-12">
            <label>Dirección</label>
            <input class="form-control" [(ngModel)]="direccion" type="text" />
        </div>
    </div>
    <div class="row">

        <div class="col-lg-1 col-4">
            <label>Número</label>
            <input class="form-control" [(ngModel)]="numero" type="text" />
        </div>
        <div class="col-lg-1 col-4">
            <label>Puerta</label>
            <input class="form-control" [(ngModel)]="puerta" type="text" />
        </div>

        <div class="col-lg-1 col-4">
            <label>Escalera</label>
            <input class="form-control" [(ngModel)]="escalera" type="text" />
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-3">
            <button (click)="registrar()" class="btn btn-primary mb-3 "> Registrar </button>
        </div>
    </div>
</div>



<div class="mb-1 mt-1" style="display: none;">

    <div #instancia_sustituir>
   <div class="form-check">
            <input class="form-check-input" type="radio" (change)="actualiza_instrumento('2')"
                name="familiaInstrumentos" id="Viento Madera">
            <label class="form-check-label" for="Viento Madera">
                Viento Madera
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" (change)="actualiza_instrumento('1')"
                name="familiaInstrumentos" id="Viento Metal" checked="checked">
            <label class="form-check-label" for="Viento Metal">
                Viento Metal
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" (change)="actualiza_instrumento('3')"
                name="familiaInstrumentos" id="Percusion">
            <label class="form-check-label" for="Percusion">
                Percusión
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" (change)="actualiza_instrumento('4')"
                name="familiaInstrumentos" id="Cuerda" checked>
            <label class="form-check-label" for="Cuerda">
                Cuerda
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" (change)="actualiza_instrumento('5')"
                name="familiaInstrumentos" id="Musica Flamenca">
            <label class="form-check-label" for="Musica Flamenca">
                Música Flamenca
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" (change)="actualiza_instrumento('6')"
                name="familiaInstrumentos" id="Musica Moderna">
            <label class="form-check-label" for="Musica Moderna">
                Música Moderna
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" (change)="actualiza_instrumento('7')"
                name="familiaInstrumentos" id="Piano">
            <label class="form-check-label" for="Piano">
                Piano
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" (change)="actualiza_instrumento('8')"
                name="familiaInstrumentos" id="Guitarra">
            <label class="form-check-label" for="Guitarra">
                Guitarra
            </label>
        </div>



        <div *ngIf="familia_instrumento == '1'">
            <label>Elige instrumento</label>
            <select class="form-select" [(ngModel)]="instrumento" aria-label="Default select example">
                <option value="Trompeta">Trompeta</option>
                <option value="Trompa">Trompa</option>
                <option value="Trombón">Trombón</option>
                <option value="Bombardino">Bombardino</option>
                <option value="Tuba">Tuba</option>
            </select>
        </div>

        <div *ngIf="familia_instrumento=='2'">
            <label>Elige instrumento</label>
            <select class="form-select" [(ngModel)]="instrumento" aria-label="Default select example">
                <option value="Clarinete">Clarinete</option>
                <option value="Saxofón">Saxofón</option>
                <option value="Flauta">Flauta</option>
                <option value="Oboe">Oboe</option>
                <option value="Fagot">Fagot</option>
            </select>
        </div>

        <div *ngIf="familia_instrumento=='4'">
            <label>Elige instrumento</label>
            <select class="form-select" [(ngModel)]="instrumento" aria-label="Default select example">
                <option value="Contrabajo">Contrabajo</option>
                <option value="Violonchelo">Violonchelo</option>
                <option value="Violín">Violín</option>
                <option value="Viola">Viola</option>
            </select>
        </div>

        <div *ngIf="familia_instrumento=='5'">
            <label>
                Elige instrumento
            </label>
            <select class="form-select" [(ngModel)]="instrumento" aria-label="Default select example">
                <option value="Cante"> Cante Flamenco </option>
                <option value="Cajón"> Cajón </option>
                <option value="Guitarra Flamenca"> Guitarra Flamenca </option>
            </select>
        </div>



        <div *ngIf="familia_instrumento=='6'">
            <label>
                Elige instrumento
            </label>
            
            <div *ngIf="calculo_edad() >= 18">
                <select class="form-select" [(ngModel)]="instrumento" aria-label="Default select example">
                    <option value="Bajo_Electrico"> Bajo Eléctrico </option>
                    <option value="Guitarra_Electrica"> Guitarra Eléctrrica </option>
                    <option value="Batería">Batería</option>
                    <option value="Cante_Moderno">Canto  Moderno</option>
                    <option value="Jazz / Improvisación">Jazz / Improvisación</option>
                    <option value="Coro Adultos"> Coro Adultos</option> 
                </select>
            </div>

            <div *ngIf="calculo_edad() < 18">
                <select class="form-select" [(ngModel)]="instrumento" aria-label="Default select example">
                    <option value="Bajo_Electrico"> Bajo Eléctrico </option>
                    <option value="Guitarra_Electrica"> Guitarra Eléctrrica </option>
                    <option value="Batería">Batería</option>
                    <option value="Canto_Moderno">Canto  Moderno</option>
                    <option value="Jazz / Improvisación">Jazz / Improvisación</option>
                    <option value="Coro">Coro</option>
                </select>
            </div>
        </div>
    </div>
</div>