<!-- https://www.bootdey.com/snippets/view/calendar-schedule-table -->
<div class="container">
    <div class="w-95 w-md-75 w-lg-60 w-xl-55 mx-auto mb-6 text-center">
        <div class="subtitle alt-font"><span class="text-primary">#04</span><span class="title">Timetable</span></div>
        <h2 class="display-18 display-md-16 display-lg-14 mb-0">Committed to fabulous and great <span class="text-primary">#Timetable</span></h2>
    </div>
    <div class="row">

        <div class="col-md-12">
            <div class="schedule-table" *ngIf="bCargado_horario">
                <table class="table bg-white">
                <thead>
                <tr>
                    <th>Horario</th>
                    <th>Lunes </th>
                    <th>Martes</th>
                    <th>Miércoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                    <th>Sábado</th>
                    <th class="last">Domingo</th>
                </tr>
                </thead>
                <tbody>
                
                    <tr *ngFor="let hora_actual of horas">
                        <ng-container *ngFor="let dia_actual of dias">
                            <td *ngIf="obtener_valor(dia_actual, hora_actual) > 0" [attr.rowspan]="obtener_valor(dia_actual, hora_actual)" 
                                [ngClass]="{'bg-light': obtener_valor(dia_actual, hora_actual) === 1}">
                            <div *ngIf="dia_actual == 0"> {{(horas[hora_actual] / 4) + hora_minima}} </div>
                            <div *ngIf="obtener_valor(dia_actual, hora_actual) > 1 && dia_actual != 0"> 
                                <button  style="float: right; color:rgb(23, 5, 126); border-color:rgb(23, 5, 126); background-color: white; border-style: solid; " 
                                      type="button" class="btn" ><fa-icon [icon]="faXmark"></fa-icon></button>
                                {{descripcion_clase(dia_actual, hora_actual)}} </div>

                            </td>
                        </ng-container>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
