<app-menu class=""></app-menu>
<div class="container pt-4">
    <select class="form-select" [(ngModel)]="tipo" (change)="cambia_seleccion()" aria-label="Default select example">
        <option selected value="1">Todos</option>
        <option value="2">Socios</option>
        <option value="3">Profesores</option>
        <option value="4">Alumnos Curso Actual</option>
    </select>
    <div *ngIf="bCargadoPersonas">
        <table datatable [dtOptions]="dtOptions_personas" id="tabla_personas" class="row-border hover"></table>
        <div *ngIf="persona_seleccionada !== undefined" class="float-end p-3">
            <a [href]="obtenerUrlFicha()"> <button class="btn btn-primary"> Ver Ficha</button></a>
        </div>
    </div>
</div>