.grupos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 15px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  gap: 15px;
}

.grupo-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  flex-direction: row;
}

.grupo-acciones {
  display: flex;
  gap: 10px;
}

.detalle-grupo-container {
  align-items: stretch;
  max-width: 800px;
  margin: 20px auto;
}
