

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería Ligera</title>
 
</head>
<body>
    <div *ngIf="bCargadGaleria" class="gallery">
        <div class="main-image"  (click)="abrirModal()">
            <img [src]="obtener_url_imagen(imagenPrincipal.nid_imagen)" alt="Imagen principal" class="principal">
        </div>
        <div class="carousel">
            <div class="carousel-slides">
                <div *ngFor="let imagen of galeriaImagenes; let i = index" class="slide"  (click)="seleccionarImagen(imagen, i)" >
                    <img [ngClass]="{'imagen-no-seleccionada': i!==indice}" [src]="obtener_url_imagen(imagen.nid_imagen)" alt="Imagen de la galería">
                    </div>
            </div>
            <button class="prev" aria-label="Anterior" (click)="anterior_imagen()">❮</button>
            <button class="next" aria-label="Siguiente" (click)="siguiente_imagen()">❯</button>
        </div>
    </div>

    <!-- Modal para mostrar la imagen ampliada -->
    <div class="modal" *ngIf="modalAbierto" (click)="cerrarModal()">
        <div class="modal-content">
            <button class="exit" aria-label="Cerrar" (click)="cerrarModal()">✖</button>
            <img [src]="obtener_url_imagen(imagenPrincipal.nid_imagen)" alt="Imagen ampliada">
        </div>
    </div>

</body>
</html>