

<app-menu class=""></app-menu>
<div class="container pt-4">
    <button (click)="add_musico()"  class="btn btn-primary mb-3 " >Registrar Músico</button>

    <ng-select [items]="lista_instrumentos_filtro"
    bindLabel="descripcion" 
    bindValue="nid"
    [(ngModel)]="nid_instrumento_filtro"
    [compareWith]="compareInstrumento"
    (change)="cambia_seleccion_musico()">
    </ng-select>



    @if (bCargadosTiposMusicos){
        <div style="display: flex; justify-content: space-between;">
            <div style="display: flex; gap: 10px;">
    @for( tipo of lista_tipo_musicos; track tipo.nid_tipo_musico) {

            <input type="checkbox" 
                   [checked]="this.tipos_musicos[tipo.nid_tipo_musico]"
                   (change)="this.tipos_musicos[tipo.nid_tipo_musico] = !this.tipos_musicos[tipo.nid_tipo_musico]; cambia_seleccion_musico(); "/>
            {{ tipo.descripcion }}
        
    }
</div>
    <div style="display: flex; gap: 10px;">
    <input type="checkbox" style="justify-content: flex-end;"
  
           [checked]="this.agrupar_por_tipo_musico"
           (change)="this.agrupar_por_tipo_musico = !this.agrupar_por_tipo_musico; cambia_seleccion_musico(); "/>
        Agrupar por músico    
        
        <input type="checkbox" style="justify-content: flex-end;"
               [checked]="this.bMostrarBajas"
               (change)="this.bMostrarBajas = !this.bMostrarBajas; cambia_seleccion_musico(); "/>
        Mostrar Bajas
        </div>


</div>
    <div *ngIf="bCargadosMusicos">
        <table datatable [dtOptions]="dtOptions_musicos" id="tabla_musicos" class="row-border hover"></table>
        <div *ngIf="musico_seleccionado !== undefined" class="float-end p-3"  style="display: flex; gap: 10px;">
            <a [href]="obtenerUrlFicha()"> <button class="btn btn-primary"> Ver Ficha</button></a>
            <button (click)="dar_baja_musico()" class="btn btn-danger">Cambiar fecha baja</button>
        </div>
    </div>
    }
 
    <div class="mb-1 mt-1" style="display: none;">
        <div  style="min-height: 300px;" #instancia_registrar_musico>
            <div *ngIf="bCargadasPersonas" >
                <ng-select [items]="lista_personas"
                bindLabel="etiqueta" 
                bindValue="nid"
                [(ngModel)]="nid_persona_seleccionada"
                [compareWith]="comparePersona">
                </ng-select>
            </div>
            <ng-select [items]="lista_instrumentos"
            bindLabel="descripcion" 
            bindValue="nid"
            [(ngModel)]="nid_instrumento"
            [compareWith]="compareInstrumento">
            </ng-select>

            <ng-select [items]="lista_tipo_musicos"
            bindLabel="descripcion" 
            bindValue="nid_tipo_musico"
            [(ngModel)]="nid_tipo_musico"
            [compareWith]="compareTipoInstrumento">
            </ng-select>
        </div>
    </div>
</div>

<div style="display: none;">
   <div #instancia_baja_musico>
        <input type="date" [(ngModel)]="fecha_baja" class="form-control mb-2" placeholder="Fecha de Baja">
    </div>
</div>