<app-menu class=""></app-menu>
<div class="container pt-4">
  @if (bCargadoPreinscripciones) {
    <div>
      <app-appdatatable
        [$cabeceras]="cabecera_preinscripcion"
        [$lista]="$listado_preinscripcion()"
        [$identificador]="$id_tabla_preinscripiones()"
        (rowSelected)="preinscripcion_marcada($event)"
      ></app-appdatatable>

      @if (bCargadoPreinscripciones2) {
        <div>
          <app-appdatatable
            [$cabeceras]="cabecera_preinscripcion2"
            [$lista]="$listado_preinscripcion2()"
            [$identificador]="$id_tabla_preinscripiones2()"
          ></app-appdatatable>
        </div>
      }
    </div>
  }
</div>
