<div class="row">
  {{num_componentes_definidos}}
  @for (in of contador_componentes_definidos(); track in; let i = $index) {
    <div class="col">
      {{i}}
      @if (componentes[i] == '-1') {
        <div>
          <app-nuevo-componente-componentes id_componente={{id_componente}} nOrden="{{i}}"></app-nuevo-componente-componentes>
        </div>
      }
      @if (componentes[i] != '-1') {
        <div>
          <app-componente-componente id={{componentes[i]}}></app-componente-componente>
        </div>
      }
    </div>
  }
</div>