<app-menu></app-menu>
<div class="container p-3">
    <div class="card" *ngIf="bCargado">
        <div class="row">
            <div class="col-2">
                <label>Precio Manual: </label>
                <input class="form-control" [(ngModel)]="precio_manual"/>
            </div>
            <div class="col-10">
                <label>Comentario Precio:</label>
                <input class="form-control" [(ngModel)]="comentario_precio"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button  class="btn btn-primary mb-2 mt-2 tp-3" (click)="guardar()"> Guardar </button>
            </div>
        </div>

        <div *ngIf="bCargadas_asignaturas">
            <table datatable [dtOptions]="dtOptionsAsignaturas" id="tabla_asignaturas" class="row-border hover">
            </table>

            <div *ngIf="matricula_asignatura_seleccionada != ''">
                <button class="btn btn-primary mb-2 mt-2 tp-3 me-1" (click)="actualizar_fecha_alta()">Cambiar Fecha Alta</button>
                <button class="btn btn-primary mb-2 mt-2 tp-3 ms-1" (click)="actualizar_fecha_baja()">Cambiar Fecha Baja</button>
            </div>
        </div>
        

    </div>

    <div class="card mt-3" *ngIf="bCargado_mensualidad">
        <div class="card-header">
            <b>Precio Mensualidad: </b> {{mensualidad_matricula['precio']}} €
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let linea of mensualidad_matricula['linea_remesas']">
                {{linea['precio']}}€ - {{linea['concepto']}}
            </li>
        </ul>
        <div class="card-headear bg-light" *ngIf=" mensualidad_matricula['descuentos'].length > 0">
            <b class="ms-3">Descuentos y otros conceptos aplicados</b>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"*ngFor="let descuento of mensualidad_matricula['descuentos']">
                {{descuento}}
            </li>
        </ul>
    </div>

    <div clas="card">
        <div class="card-header">
            <b>Boletin</b>
        </div>
        <button class="form-control" class="btn btn-primary mb-2 mt-2 tp-3" (click)='generar_boletin()'> Generar Boletín</button>
    </div>
  
  <div *ngIf="bCargadas_evaluaciones"  class="card mt-4">
    <div class="card-header">
        <b>Evaluaciones</b>
    </div>
    <table datatable [dtOptions]="dtOptions" id="tabla_evaluaciones" class="row-border hover">
    </table>
</div>
    

</div>

<div class="mb-1 mt-1" style="display: none;">

    <div #instancia_sustituir>
        <div style="min-height: 300px;" >
            <div  class="m-2" *ngIf="bCargados_trimestres">
                <label for="select-trimestres"> <b> Trimestre </b></label>
                <ng-select id="select-trimestres" [items]="lista_trimestres"
                            bindLabel="descripcion"
                            bindValue="nid_trimestre"
                            [(ngModel)]="trimestre_seleccionado"
                            [compareWith]="compareTrimestre">
                </ng-select>
            </div>
        </div>
    </div>
</div>

<div class="mb-1 mt-1" style="display: none;">

    <div #instancia_fecha_alta>
        <div  >
            <div  class="m-2" *ngIf="bCargados_trimestres">
                <label for="select-trimestres"> <b> Fecha de Alta </b></label>
                <input class="form-control mt-2" type="date" [(ngModel)]="fecha_alta_seleccionada"/>
            </div>
        </div>
    </div>
</div>

<div class="mb-1 mt-1" style="display: none;">
    <div #instancia_fecha_baja>
        <div  >
            <div  class="m-2" *ngIf="bCargados_trimestres">
                <label for="select-trimestres"> <b> Fecha de Baja </b></label>
                <input class="form-control mt-2" type="date" [(ngModel)]="fecha_baja_seleccionada"/>
            </div>
        </div>
    </div>
</div>
