<app-menu></app-menu>
<div class="container p-3">
    <div class="card" *ngIf="bCargado">
        <div class="row">
            <div class="col-2">
                <label>Precio Manual: </label>
                <input class="form-control" [(ngModel)]="precio_manual"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="form-control" class="btn btn-primary mb-3 tp-3" (click)="guardar()"> Guardar </button>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <th>
                    Asignatura
                </th>
                <th>
                    Profesor
                </th>
                <th>
                    Fecha alta
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let asignatura of asignaturas">
                    <td>
                        {{asignatura.descripcion}}
                    </td>
                        <td>
                        {{asignatura.nombre}} {{asignatura.primer_apellido}} {{asignatura.segundo_apellido}}
                    </td>
                    <td>
                        {{asignatura.fecha_alta}}
                    </td>
                </tr>
            </tbody>
            
        </table>
    </div>

    <div class="card" *ngIf="bCargado">
        <div>
            Precio: {{mensualidad_matricula['precio']}}
        </div>

        <div *ngFor="let linea of mensualidad_matricula['linea_remesas']">
            {{linea['precio']}} - {{linea['concepto']}}
        </div>

        <div *ngFor="let descuento of mensualidad_matricula['descuentos']">
            {{descuento}}
        </div>
    </div>
</div>