<p>patio-butacas works!</p>
<div style="display: flex; gap: 8px">
  <div>
    <app-bloque-butacas
      [filas]="4"
      [butacas]="13"
      [margenIzquierdo]="0"
      [reverse]="0"
    ></app-bloque-butacas>
    <app-bloque-butacas
      [filas]="8"
      [butacas]="12"
      [margenIzquierdo]="46"
      [reverse]="0"
    ></app-bloque-butacas>
    <app-bloque-butacas
      [filas]="3"
      [butacas]="11"
      [margenIzquierdo]="92"
      [reverse]="0"
    ></app-bloque-butacas>
  </div>
  <div>
    <app-bloque-butacas
      [filas]="4"
      [butacas]="13"
      [margenDerecho]="0"
      [reverse]="1"
    ></app-bloque-butacas>
    <app-bloque-butacas
      [filas]="8"
      [butacas]="12"
      [margenDerecho]="46"
      [reverse]="1"
    ></app-bloque-butacas>
    <app-bloque-butacas
      [filas]="3"
      [butacas]="11"
      [margenDerecho]="92"
      [reverse]="1"
    ></app-bloque-butacas>
  </div>
</div>
