.bloque {
  display: flex;
  flex-direction: column; /* filas una debajo de otra */
}

.fila {
  display: flex; /* necesario */
  flex-direction: row; /* butacas en horizontal */
}

.fila-reverse {
  display: flex; /* necesario */
  flex-direction: row-reverse; /* butacas en horizontal */
}
