.contenedor_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;
  border-width: 1px;
  border-color: "black";
  shadow-color: "black";
  shadow-offset: 0px 4px;
  shadow-opacity: 0.25;
  shadow-radius: 4px;
}
