
<div class="card mb-1 mt-1 p-3">
    <legend>Dirección</legend>
    <div class="form-row row">
        <div class="col">
            <label> Provincia </label>
            <input class="form-control" type="text" [(ngModel)]="provincia"/>
        </div>
        <div class="col">
            <label> Municipio </label>
            <input class="form-control" type="text" [(ngModel)] = "municipio" /> 
        </div>
    </div>

    <div class="row form-row">
        <div class="col">
            <label>Domicilio</label>
            <input class="form-control" type="text" [(ngModel)] = "direccion_postal" />
        </div>
    </div>

    <div class="row form-row">
        <div class="col">
            <label>Codigo Postal</label>
            <input class="form-control" type="text" [(ngModel)] = "codigo_postal"/>
        </div>
        <div class="col">
            <label>Numero</label>
            <input class="form-control" type="text" [(ngModel)] = "numero"/>
        </div>
        <div class="col">
            <label>Escalera</label>
            <input class="form-control" type="text" [(ngModel)] = "escalera"/>
        </div>
        <div class="col">
            <label>Puerta</label>
            <input class="form-control" type="text" [(ngModel)] = "puerta"/>
        </div>
    </div>
</div>