.selector {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 5px;
  position: relative;
}

.selector input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.opcion {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #fff;
  padding: 5px;
}

.opciones_arriba {
  display: flex;
  align-items: flex-end;
}

.opcion:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.opciones {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
