<app-menu class=""></app-menu>

<div class="container mt-5">
  <h2>Socios sin pago</h2>
  <hr />
  @if (bCargadosSocios) {
    <div>
      <app-appdatatable
        [$cabeceras]="cabecera_tabla_socios_sin_pago"
        [$lista]="$sociosSinPago()"
        [$identificador]="$idTablaSociosSinPago()"
        (rowSelected)="clickSocio($event)"
      ></app-appdatatable>
      @if (socioSeleccionado !== undefined) {
        <div class="float-end p-3">
          <a [href]="obtenerUrlFicha()">
            <button class="btn btn-primary">Ver Ficha</button></a
          >
        </div>
      }
    </div>
  }
</div>
