<app-componente-menu></app-componente-menu>
<div class="container">

  <h4 class="bold" style="color:blue"> Novedades </h4>
  <hr class="separa-destacados">

<div  class="pt-3" *ngFor="let componente of pagina_componentes;">
    <app-componente id={{componente.nid_Componente}} id_pagina="0"></app-componente>
</div>
<app-nuevo-componente id_pagina="0"></app-nuevo-componente>

<br>
<h4 class="bold" style="color:blue"> Noticias </h4>
<hr class="separa-destacados">
<app-componente-blog-reducido id_componente="207"></app-componente-blog-reducido>
</div>
<app-pie></app-pie>

