<app-componente-menu></app-componente-menu>
<div class="container">

  <h4 class="bold" style="color:blue"> Novedades </h4>
  <hr class="separa-destacados">

<div  class="pt-3" *ngFor="let componente of pagina_componentes;">
    <app-componente id={{componente.nid_Componente}} id_pagina="0"></app-componente>
</div>
<app-nuevo-componente id_pagina="0"></app-nuevo-componente>

<br>
<h4 _ngcontent-cjr-c60="" class="bold" style="color: blue;">Conócenos</h4>
<hr _ngcontent-cjr-c60="" class="separa-destacados">

<div _ngcontent-hjc-c60="" class="row bg-light"><div _ngcontent-hjc-c60="" class="navegacion_home col-md-4 border rounded overflow-hidden bg-primary">
  <a href="https://ladelpasico.es/general/18" style="text-decoration:none">
    <div class="d-flex justify-content-center">
      <h1 _ngcontent-hjc-c60="" style="color: white;"><b _ngcontent-hjc-c60="">La Agrupación</b></h1>
    </div>
    <div class="d-flex justify-content-center text-center">
      <p style="color:white">Conoce nuestra Banda, La Agrupación Musical Nuestra Señora del Pasico</p>
    </div>
  </a>
</div>

<div _ngcontent-hjc-c60="" style="background-color:#0E21A6" class="navegacion_home col-md-4 border rounded overflow-hidden bg-gradient ">
  <a href="https://ladelpasico.es/general/16" style="text-decoration:none">
    <div class="d-flex justify-content-center">
      <h1 _ngcontent-hjc-c60="" style="color: white;"><b _ngcontent-hjc-c60="">Nuestra escuela</b></h1>
    </div>
    <div class="d-flex justify-content-center  text-center">
      <p style="color:white">Descubre nuestra escuela y nuestra oferta educativa</p>
    </div>
  </a>
</div>

<div _ngcontent-hjc-c60="" style="background-color:#3EB5F1" class="navegacion_home col-md-4 border rounded overflow-hiddend-flex justify-content-center bg-gradient">
  <a href="https://ladelpasico.es/general/12" style="text-decoration:none">
    <div class="d-flex justify-content-center">
      <h1 _ngcontent-hjc-c60="" style="color: white;"><b _ngcontent-hjc-c60="">La Asociación</b></h1>
    </div>
    <div class="d-flex justify-content-center  text-center">
      <p style="color:white">Se participe de la Asociación detrás de todo esto</p>
    </div>
  </a>
</div>

</div>

<br>
<h4 class="bold" style="color:blue"> Noticias </h4>
<hr class="separa-destacados">
<app-componente-blog-reducido id_componente="207"></app-componente-blog-reducido>
</div>
<app-pie></app-pie>

