
<form class="form-control">
    <div class="row form-row">
        <div class="col">
            <label > DNI: </label>
            <input type="text" [(ngModel)] = "nif" name="nif" class="form-control"/>
        </div>
    </div>
    <div class="row form-row">
        <div class="col">
            <label> Nombre: </label>
            <input class="form-control" [(ngModel)]= "nombre" name="nombre" type="text" /> 
            <label> Primer apellido: </label>
            <input class="form-control" [(ngModel)]= "primer_apellido" name="Primer apellido"  type="text" />
        </div>
    </div>
    <div class="row form-row">
        <div class="col">
            <label> Segundo apellido: </label>
            <input class="form-control" [(ngModel)]= "segundo_apellido" name="Segundo apellido" type="test"/>
        </div>
    </div>
    <div class="row form-row pt-3">
        <div class="col">
            <button (click)= "registrar_musico()" class="btn btn-primary mb-3 "> Registrar </button>
        </div>
    </div>
</form>