<app-menu class=""></app-menu>

<div class="container">
<form>
    <label>Descripcion</label>
    <input class="form-control" [(ngModel)]="descripcion"/>

    <label>Modelo</label>
    <input class="form-control" [(ngModel)]="modelo"/>

    <label>Número de Serie</label>
    <input class="form-control" [(ngModel)]="num_serie"/>

    <label>Comentarios</label>
    <textarea class="form-control" [(ngModel)]="comentarios" rows="4" cols="50">

    </textarea>

    <button (click)="guardar()" class="btn btn-primary mb-3 mt-2 tp-3"> Registrar </button>
</form>
</div>