
body {
  font-family: sans-serif;
}

input {
  border:1px solid #ccc;
  padding:10px;
  color:#444;
  font-size:15px;
}



.pushdown {
   transform: translate(0, 100%);
   transition-duration: 1s;
   transition-timing-function: ease-in-out;
   transition-property: transform;
}

