<app-menu class=""></app-menu>

<div class="container mt-5">
  <h2>Alumnos sin socio</h2>
  <hr />
  @if (bCargadosAlumnos) {
    <div>
      <app-appdatatable
        [$cabeceras]="cabecera_tabla_alumnos_sin_socio"
        [$lista]="$alumnosSinSocio()"
        [$identificador]="$idTablaAlumnosSinSocio()"
        (rowSelected)="clickAlumno($event)"
      ></app-appdatatable>
      @if (alumnoSeleccionado !== undefined) {
        <div class="float-end p-3">
          <a [href]="obtenerUrlFicha()">
            <button class="btn btn-primary">Ver Ficha</button></a
          >
        </div>
      }
    </div>
  }
</div>
