
<app-menu class=""></app-menu>
<div class="container pt-4">




<div class="card p-3"  *ngIf="bCargado">
  <legend> Asignaturas </legend>
  <div class="row form-row pt-3">
    <div class="col">
      <button class="btn btn-primary mb-3 " (click) = "addAsignatura()"> Añadir Asignatura </button>
    </div>
  </div>

<table datatable [dtOptions]="dtOptions" id="tabla_asignaturas" class="row-border hover">
</table>
<div *ngIf="bSelecionada_asignatura">
  <a [href]="url_ficha_asignatura()"> <button class="btn btn-primary"> Ver Ficha</button></a>
</div>
</div>



</div>

