<div class="row mb-2">
  @for (blog of elementos_blog; track blog; let i = $index) {
    <div class="col-md-4">
      @if (pagina_actual == obtiene_paginacion(i)) {
        <div>
          <div
            class="g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
          >
            <div class="contenedor-blog imagen">
              <img
                [src]="obtiene_url_imagen(blog['nid_imagen'])"
                class="img-fluid "
              />
            </div>
            <div class="row" style="height: 350px">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary"
                  >Noticias</strong
                >
                <div class="contenedor-titulo-multi">
                <h3 class="mb-0">{{ blog["titulo"] }}</h3>
</div>
                <div class="mb-1 text-muted">
                  {{ obtiene_fecha(blog["fecha"]) }}
                </div>
                <div class="contenedor-texto-multi">
                  <p class="card-text mb-auto">
                    {{ blog["descripcion"] }}
                  </p>
                </div>
                <a
                  [href]="obtiene_url_pagina(blog['nid_menu'])"
                  class="stretched-link"
                  >Continua leyendo</a
                >
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  }
</div>
