.imagen {
  border-radius: 20px;
  padding: 10px;
}

.contenedor-blog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-texto {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100px;
}
