
<form  ngNativeValidate class="form-control">
    <legend>Padre</legend>
    <div class="row form-row">
        <div class="col">
            <ng-select [items]="lista_personas"
                    bindLabel="etiqueta" 
                    bindValue="nid"
                    [(ngModel)]="padre"
                    [compareWith]="comparePersona_padre">
            </ng-select>
        </div>
    </div>
</form>
<div *ngIf="bError" class="alert alert-danger" role="alert">
    {{mensaje_error}}
 </div>
 <div *ngIf="bRegistrado" class="alert alert-success" role="alert">
    {{mensaje_registro}}
 </div>

