
<app-menu class=""></app-menu>

<div *ngIf="!bEditable">
    
    <div class="container pt-4">
        <div class="card mt-3" *ngIf="bCargado">
            <div class="card-header">
                <b>Precio Mensualidad: </b> {{remesa['precio']}} €
            </div>
            <div *ngIf="bCargadas_lineas">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let linea of lineas_remesa">
                        {{linea['precio']}}€ - {{linea['concepto']}}
                    </li>
                </ul>
            </div>
            <div *ngIf="bCargados_descuentos">
                <div class="card-headear bg-light" *ngIf="descuentos_remesa.length > 0">
                    <b class="ms-3">Descuentos y otros conceptos aplicados</b>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"*ngFor="let descuento of descuentos_remesa">
                        {{descuento['concepto']}}
                    </li>
                </ul>
            </div>
        </div>
        <button class="btn btn-primary mt-3" (click)="editar()">Editar</button>
    </div>
</div>
<div *ngIf="bEditable">
    <div class="container pt-4">
        <div class="card-header">
          <legend> Remesa </legend>
        </div>
        <div class="card" *ngIf="bCargado">
            <label>Precio</label>
            <input type="text" class="form-control" [(ngModel)]="remesa['precio']">
            <label>Concepto</label>
            <input type="text" class="form-control" [(ngModel)]="remesa['concepto']">
        </div>
        <div class="card-header">
           <legend> Lineas </legend>
        </div>
        <div class="card" *ngIf="bCargadas_lineas">
            <div class="card" *ngFor="let linea of lineas_remesa; let i = index">
                <label>Precio</label>
                <input type="text" class="form-control" [(ngModel)]="lineas_remesa[i]['precio']">
                <label>Concepto</label>
                <input type="text" class="form-control" [(ngModel)]="lineas_remesa[i]['concepto']">

                <button class="btn btn-danger mt-3" (click)="eliminar_linea(lineas_remesa[i]['nid_linea_remesa'])">Eliminar</button>
            </div>
            <button class="btn btn-primary mt-3" (click)="nueva_linea()">Nueva linea</button>
        </div>
        <div class="card-header">
           <legend> Descuentos </legend>
        </div>
        <div class="card" *ngIf="bCargados_descuentos">
            <div class="card" *ngFor="let descuento of descuentos_remesa; let i = index">
                <label>Concepto</label>
                <input type="text" class="form-control" [(ngModel)]="descuentos_remesa[i]['concepto']">

                <button class="btn btn-danger mt-3" (click)="eliminar_descuento(descuentos_remesa[i]['nid_remesa_descuento'])">Eliminar</button>
            </div>
            <button class="btn btn-primary mt-3" (click)="nuevo_descuento()">Nuevo descuento</button>
        </div>
        <button class="btn btn-primary mt-3" (click)="guardar()">Guardar</button>
    </div>
</div>

<div style="display:none">
    <div #modalNuevaLinea>
        <label>Precio</label>
        <input type="text" class="form-control" [(ngModel)]="nuevo_precio">
        <label>Concepto</label>
        <input type="text" class="form-control" [(ngModel)]="nuevo_concepto_linea">
    </div>
</div>

<div style="display:none">
    <div #modalNuevoDescuento>
        <label>Concepto</label>
        <input type="text" class="form-control" [(ngModel)]="nuevo_concepto_descuento">
    </div>
</div>