<app-menu></app-menu>
<div class=" p-4">
    <div class ="container card" >

        <div class="card-header">
            <b>Evaluación</b>
        </div>

        <div class="pt-3" *ngIf="bCargados_trimestres">
            <label for="select-trimestres"> <b> Trimestre </b></label>
            <ng-select id="select-trimestres" [items]="lista_trimestres"
                        bindLabel="descripcion"
                        bindValue="nid_trimestre"
                        [(ngModel)]="trimestre_seleccionado"
                        (ngModelChange)="cambia_trimestre()">
            </ng-select>
        </div>

        <div *ngIf="trimestre_seleccionado != ''">
            <div *ngIf="bCargada_asignaturas">
                <label for="select-asignaturas"> <b> Asignatura </b></label>
                <ng-select id="select-asignaturas" [items]="lista_asignaturas"
                                    bindLabel="descripcion" 
                                    bindValue="nid"
                                    [(ngModel)]="asignatura_seleccionada"
                                    [compareWith]="compare_asignatura" (ngModelChange)="cambia_asignatura()">
                </ng-select>
            </div>
        </div>
        
             
        <div *ngIf="bCargados_alumnos">
            <table class="table">
                <thead>
                    <tr class="d-flex">
                        <th class="col-2">
                            Nombre
                        </th>
                        <th class="col-2">
                            Primer Apellido
                        </th>
                        <th class="col-2">
                            Segundo Apellido
                        </th>
                        <th class="col-1">
                            Nota
                        </th>
                        <th class="col-2">
                            Progreso
                        </th>
                        <th class="col-3">
                            Comentario
                        </th>
                    </tr>
                </thead>
                <tr *ngFor="let alumno of lista_alumnos" class="d-flex">
                    <td class="col-2"> {{alumno['nombre']}} </td>
                    <td  class="col-2">  {{alumno['primer_apellido']}} </td>
                    <td  class="col-2">  {{alumno['segundo_apellido']}}</td>
                    <td  class="col-1 pe-3"> <input type="number" lang="en" step="0.01" class="form-control" [(ngModel)]="lista_notas[alumno['nid']]"/> </td>
                    <td  class="col-2 pe-3"> 
                        <select class="form-select" style="font-size: 0.9em;" [(ngModel)]="lista_progreso[alumno['nid']]">
                            <option  value=2>Progresa Adecuadamente</option>
                            <option value=1>Necesita Mejorar</option>
                        </select>
                    </td>
                    <td class="col-3">
                    
                        <textarea class="form-control" [(ngModel)]="lista_comentarios[alumno['nid']]" rows="4" cols="50"> </textarea>
                    </td>
                </tr>
            </table>
            <button class="btn btn-primary mb-3 mt-2 tp-3" (click)="guardar()"> Guardar </button>
        </div>
    </div>
</div>