<div class="container">
  <div [ngClass]="esAdministrador ? 'borde_gris borde_azul' : ''">
    <div class="row">
      @if (esAdministrador && !modo_edicion) {
        <div class="col">
          <button
          style="
            float: right;
            color: rgb(119, 23, 23);
            border-color: rgb(119, 23, 23);
            background-color: white;
            border-style: solid;
          "
            type="button"
            class="btn"
            (click)="eliminar()"
            >
            <fa-icon [icon]="faXmark"></fa-icon>
          </button>
          <button
          style="
            float: right;
            color: rgb(14, 49, 14);
            border-color: rgb(14, 49, 14);
            background-color: white;
            border-style: solid;
          "
            type="button"
            class="btn"
            (click)="activa_edicion()"
            >
            <fa-icon [icon]="faPen"></fa-icon>
          </button>
          @if (orden < numero_componentes_pagina) {
            <button
          style="
            float: right;
            color: rgb(23, 5, 126);
            border-color: rgb(23, 5, 126);
            background-color: white;
            border-style: solid;
          "
              type="button"
              class="btn"
              (click)="incrementa_orden()"
              >
              <fa-icon [icon]="faArrowDown"></fa-icon>
            </button>
          }
          @if (orden > 1) {
            <button
          style="
            float: right;
            color: rgb(23, 5, 126);
            border-color: rgb(23, 5, 126);
            background-color: white;
            border-style: solid;
          "
              type="button"
              class="btn"
              (click)="decrementa_orden()"
              >
              <fa-icon [icon]="faArrowUp"></fa-icon>
            </button>
          }
        </div>
      }

      @if (esAdministrador && modo_edicion) {
        <div class="col">
          <button
          style="
            float: right;
            color: rgb(119, 23, 23);
            border-color: rgb(119, 23, 23);
            background-color: white;
            border-style: solid;
          "
            type="button"
            class="btn"
            (click)="cancelar_edicion()"
            >
            <fa-icon [icon]="faXmark"></fa-icon>
          </button>
          <button
          style="
            float: right;
            color: rgb(14, 49, 14);
            border-color: rgb(14, 49, 14);
            background-color: white;
            border-style: solid;
          "
            type="button"
            class="btn"
            (click)="guardar()"
            >
            <fa-icon [icon]="faSave"></fa-icon>
          </button>
        </div>
      }
    </div>
    @if (tipo == '1') {
      <div class="row">
        <div class="col texto-overflow">
          @if (!modo_edicion) {
            <div>
              @if (bCargadoTexto | async) {
                <div [innerHTML]="transform()"></div>
              }
            </div>
          }
          @if (modo_edicion) {
            <div>
              <app-editar-componente-texto
                #instancia_texto
                nid="{{ id }}"
              ></app-editar-componente-texto>
            </div>
          }
        </div>
      </div>
    }
    @if (tipo == '2') {
      <div class="row">
        <div class="col">
          @if (!modo_edicion) {
            <div>
              <app-componente-imagen nid="{{ id }}"></app-componente-imagen>
            </div>
          }
          @if (modo_edicion) {
            <div>
              <app-editar-componente-imagen
                #instancia_imagen
                nid="{{ id }}"
              ></app-editar-componente-imagen>
            </div>
          }
        </div>
      </div>
    }
    @if (tipo == '3') {
      <div class="row">
        <div class="col">
          @if (modo_edicion) {
            <div>
              <app-editar-compomente-componentes
                id_componente="{{ id }}"
              ></app-editar-compomente-componentes>
            </div>
          }
          @if (!modo_edicion) {
            <div>
              <app-componente-componentes
                id_componente="{{ id }}"
              ></app-componente-componentes>
            </div>
          }
        </div>
      </div>
    }
    @if (tipo == '4') {
      <div class="row">
        <div class="col">
          @if (modo_edicion) {
            <div>
              <app-editar-componente-video
                id_componente="{{ id }}"
              ></app-editar-componente-video>
            </div>
          }
          @if (!modo_edicion) {
            <div>
              <app-componente-video id_componente="{{ id }}"></app-componente-video>
            </div>
          }
        </div>
      </div>
    }

    @if (tipo == '5') {
      <div class="row">
        <div class="col">
          @if (modo_edicion) {
            <div>
              <app-editar-componente-galeria
                #instancia_galeria
                id_componente="{{ id }}"
              ></app-editar-componente-galeria>
            </div>
          }
          @if (!modo_edicion) {
            <div>
              <app-componente-galeria
                id_componente="{{ id }}"
              ></app-componente-galeria>
            </div>
          }
        </div>
      </div>
    }
    @if (tipo == '6') {
      <div class="row">
        <div class="col">
          @if (modo_edicion) {
            <div>
              <app-editar-componente-paginas
                #instancia_paginas
                id_componente="{{ id }}"
              ></app-editar-componente-paginas>
            </div>
          }
          @if (!modo_edicion) {
            <div>
              <app-componente-paginas
                id_componente="{{ id }}"
              ></app-componente-paginas>
            </div>
          }
        </div>
      </div>
    }
    @if (tipo == '7') {
      <div>
        <div class="col">
          @if (!modo_edicion) {
            <div>
              <app-componente-carusel
                id_componente="{{ id }}"
              ></app-componente-carusel>
            </div>
          }
          @if (modo_edicion) {
            <div>
              <app-editar-componente-carusel
                #instancia_carusel
                id_componente="{{ id }}"
              ></app-editar-componente-carusel>
            </div>
          }
        </div>
      </div>
    }
    @if (tipo == '8') {
      <div>
        <div class="col">
          @if (!modo_edicion) {
            <div>
              <app-componente-blog id_componente="{{ id }}"></app-componente-blog>
            </div>
          }
          @if (modo_edicion) {
            <div>
              <app-editar-componente-blog
                id_componente="{{ id }}"
              ></app-editar-componente-blog>
            </div>
          }
        </div>
      </div>
    }
    @if (tipo == '9') {
      <div>
        <div class="col">
          @if (!modo_edicion) {
            <div>
              <app-componente-card
                nid_componente_card="{{ id }}"
              ></app-componente-card>
            </div>
          }
          @if (modo_edicion) {
            <div>
              <app-editar-componente-card
                #instancia_card
                nid_componente_card="{{ id }}"
              ></app-editar-componente-card>
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>
