<app-menu></app-menu>
<div class="container card mt-3">
@if(bCargadosTipoMusicos)
{
<div  class="mt-3">

    <table datatable [dtOptions]="dtOptions_Musicos" id="tabla_musicos" class="row-border hover"></table>
       <div style="display: flex; justify-content: flex-start; gap: 10px; align-items: center; padding-bottom: 10px;">

        <button class="btn btn-primary mt-3" (click)="mostrar_registro_tipo_musico()">Nuevo</button>
        @if(tipoMusicoSeleccionado !== null)
        {
             <button class="btn btn-primary mt-3" (click)="mostrar_editar_tipo_musico()">Editar</button>  
    
        }
        </div>  
</div>
}
</div>


<div style="display:none">
    <div #instanciaRegistroTipoMusico>
        <input type="text" class="form-control" placeholder="Nombre del tipo de músico" [(ngModel)]="nombreTipoMusico">
        
    </div>
</div>

<div style="display:none">
    <div #instanciaEditarTipoMusico>
        <input type="text" class="form-control" placeholder="Nombre del tipo de músico" [(ngModel)]="nombreEditarTipoMusico">

    </div>
    </div>