<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Incluir Nuevo Elemento</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <label>Titulo</label>
          <input class="form-control" type="text" [(ngModel)]="titulo"/>

          <label>Imagen</label>
          <input class="form-control" type="file" (change)="cargar_imagen($event)"/>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" (click)="crear_elemento()" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>

<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide >        
        <div class="item" >
        <button  type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color:rgb(14, 49, 14); border-width: 2px; display:block; margin-left: auto; margin-right: auto;">
        <div class="row">
            <div class="col" style="float:center; ">
                <fa-icon style="color: white;" [icon] = faAdd></fa-icon>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span style="color: white">Añadir nueva imagen</span>
            </div>
        </div>
        </button>
      </div>
    </ng-template>  
  
    <ng-template *ngFor="let imagen of imagenes" carouselSlide>
      <div class="item" >
        <button style="float: right; color:rgb(119, 23, 23); border-color:rgb(119, 23, 23); background-color: white; border-style: solid; " 
        type="button" class="btn" (click)="eliminar(imagen['nid_imagen'])"><fa-icon [icon]="faXmark"></fa-icon></button>
        <img  [src]="obtiene_url_imagen(imagen['nid_imagen'])"  class="d-block" alt="..." />
      </div>
    </ng-template>

  </owl-carousel-o>
