
<legend>Preinscripciones</legend>
<div class="container pt-4">
  @if (bCargadoPreinscripciones) {
    <div>
      <table datatable [dtOptions]="dtOptions" class="row-border hover" id="tabla_preinscripciones"></table>
      @if (bCargadoPreinscripciones2) {
        <div>
          <table datatable [dtOptions]="dtOptions_3" class="row-border hover" id="tabla_preinscripciones_3"></table>
          <table datatable [dtOptions]="dtOptions_2" class="row-border hover" id="tabla_preinscripciones_2"></table>
        </div>
      }
    </div>
  }
</div>