<p>platea works!</p>
<div style="display: flex; gap: 8px; justify-content: center">
  <div>
    <app-bloque-butacas
      [filas]="1"
      [butacas]="13"
      [desplazamientoIzquierdo]="0"
      [reverse]="0"
      [indice]="9"
      [tamGap]="tamGap"
      [tamIconos]="tamIconos"
    ></app-bloque-butacas>
    <app-bloque-butacas
      [filas]="3"
      [butacas]="12"
      [desplazamientoIzquierdo]="0"
      [reverse]="0"
      [indice]="6"
      [tamGap]="tamGap"
      [tamIconos]="tamIconos"
    ></app-bloque-butacas>
    <app-bloque-butacas
      [filas]="3"
      [butacas]="11"
      [desplazamientoIzquierdo]="0.5"
      [reverse]="0"
      [indice]="3"
      [tamGap]="tamGap"
      [tamIconos]="tamIconos"
    ></app-bloque-butacas>
    <div style="margin-top: 30px"></div>
    <app-bloque-butacas
      [filas]="1"
      [butacas]="9"
      [desplazamientoIzquierdo]="5"
      [reverse]="0"
      [indice]="1"
      [tamGap]="tamGap"
      [tamIconos]="tamIconos"
    ></app-bloque-butacas>
  </div>
  <div>
    <div>
      <app-bloque-butacas
        [filas]="1"
        [butacas]="13"
        [desplazamientoIzquierdo]="0"
        [reverse]="1"
        [indice]="6"
        [tamGap]="tamGap"
        [tamIconos]="tamIconos"
      ></app-bloque-butacas>
      <app-bloque-butacas
        [filas]="3"
        [butacas]="12"
        [desplazamientoDerecho]="0"
        [reverse]="1"
        [indice]="3"
        [tamGap]="tamGap"
        [tamIconos]="tamIconos"
      ></app-bloque-butacas>
      <app-bloque-butacas
        [filas]="3"
        [butacas]="11"
        [desplazamientoDerecho]="0.5"
        [reverse]="1"
        [indice]="1"
        [tamGap]="tamGap"
        [tamIconos]="tamIconos"
      ></app-bloque-butacas>
      <div style="margin-top: 30px"></div>

      <app-bloque-butacas
        [filas]="1"
        [butacas]="9"
        [reverse]="0"
        [tamGap]="tamGap"
        [tamIconos]="tamIconos"
      ></app-bloque-butacas>
    </div>
  </div>
</div>
<div class="platea-lateral">
  <div
    class="rotar_platea_izquierda"
    [style.width.px]="(tamGap + tamIconos) * 7 + tamGap * 8"
  >
    <app-bloque-butacas
      [filas]="1"
      [butacas]="7"
      [desplazamientoDerecho]="0"
      [reverse]="0"
      [tamGap]="tamGap"
      [tamIconos]="tamIconos"
    ></app-bloque-butacas>
    <app-bloque-butacas
      [filas]="1"
      [butacas]="6"
      [desplazamientoDerecho]="1"
      [reverse]="0"
      [tamGap]="tamGap"
      [tamIconos]="tamIconos"
    ></app-bloque-butacas>
  </div>
  <div class="rotar_platea_derecha" [style.width.px]="tamIconos * 7">
    <app-bloque-butacas
      [filas]="1"
      [butacas]="7"
      [desplazamientoDerecho]="0"
      [reverse]="1"
      [tamGap]="tamGap"
      [tamIconos]="tamIconos"
    ></app-bloque-butacas>
    <app-bloque-butacas
      [filas]="1"
      [butacas]="6"
      [desplazamientoIzquierdo]="1"
      [reverse]="1"
      [tamGap]="tamGap"
      [tamIconos]="tamIconos"
    ></app-bloque-butacas>
  </div>
</div>
