<div class="row form-row">
    <div *ngIf="bCargado_formas_pago">
    <label> Forma de Pago:</label>
        <ng-select [items]="formas_pago"
            bindLabel="etiqueta" 
            bindValue="nid"
            [(ngModel)]="forma_pago"
            [compareWith]="compareForma_pago">
        </ng-select>
    </div>

    <button type="button"  class="btn btn-primary mb-3 tp-3" data-bs-toggle="modal" data-bs-target="#registro-forma-pago">
        Nueva forma de pago
    </button>

    <div class="modal fade" id="registro-forma-pago" tabindex="-1" aria-labelledby="registro-forma-pago-label" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="registro-forma-pago-label">Registro forma de pago</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body" *ngIf="bCargado_formas_pago">
                <div class="form-row">
                    <label>Titular</label>
                    <ng-select [items]="personas"
                        bindLabel="etiqueta_persona" 
                        bindValue="clave"
                        [(ngModel)]="persona">
                    </ng-select>
                </div>
                <div class="form-row">
                    <label>IBAN</label>
                    <input class="form-control" [(ngModel)]="iban" type="text" />
                </div>
            </div>
            
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="guardar()">Guardar</button>
            </div>
        </div>
        </div>
    </div>

</div>