<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Gestor Pasico</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarGestor" aria-controls="navbarGestor" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse show" id="navbarGestor">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarPersonas" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Personas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/personas">Listado Personas</a></li>
            <li><a class="dropdown-item" href="/registrar-persona">Registrar Persona</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarSocios" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Socios
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/socios">Listado Socios</a></li>
            <li><a class="dropdown-item" href="/registrar-socio">Registrar Socio</a></li>
          </ul>
        </li>
      </ul>

      <span *ngIf="logueado">
        <div class="row">
          <div class="col">
            <b>Usuario:</b> {{this.usuario}}
          </div>
          <div class="col">
            <button (click)="[logout()]" type="button" class="btn btn-dark">
              Logout
            </button>
          </div>
        </div>
       </span>

    </div>
  </div>
</nav>
