
.campo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.contenedor
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}