.campo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  background-color: #f5f5f5;
}

.contenedor {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  background-color: #ffffff;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
