<app-menu></app-menu>

<section class="alerta" *ngIf="alumnos_sin_profesor().length > 0">
  <alerta-general
    [infoAlerta]="{
      titulo: 'Hay alumnos sin profesor asignado',
      cantidad: alumnos_sin_profesor().length,
      descripcion: 'Existen alumnos matriculados sin un profesor asignado',
    }"
  ></alerta-general>
</section>

<section class="alerta" *ngIf="alumnos_sin_pago().length > 0">
  <alerta-general
    [infoAlerta]="{
      titulo: 'Hay alumnos sin pago registrado',
      cantidad: alumnos_sin_pago().length,
      descripcion: 'Existen alumnos matriculados sin un pago registrado',
    }"
  ></alerta-general>
</section>

<section class="alerta" *ngIf="alumnos_sin_socios().length > 0">
  <alerta-general
    [infoAlerta]="{
      titulo: 'Hay alumnos sin socio registrado',
      cantidad: alumnos_sin_socios().length,
      descripcion: 'Existen alumnos matriculados sin un socio registrado',
    }"
  ></alerta-general>
</section>

<section class="alerta" *ngIf="socios_sin_pago().length > 0">
  <alerta-general
    [infoAlerta]="{
      titulo: 'Hay socios sin pago registrado',
      cantidad: socios_sin_pago().length,
      descripcion: 'Existen socios sin un pago registrado',
    }"
  ></alerta-general>
</section>
